    <h1>rejob_求人一覧</h1>
    <div>

<p>都道府県を選択してください</p>

<form  action="search" method="get">
<input name="authenticity_token" type="hidden" value="1234" />
  <select name="area" name="name" >
  <% Search.all.each do |area| %>
<option value="<%= area.area_name %>"><%= area.area_name %><br></option>
        <% end %>

</select>
<button type="search" >検索</buton>
</form>
</div>

<div>
  <h2>案件一覧</h2>
  <%= @job.count %>件表示しています。 <br>

    <% @job.each do |job| %>
    <a><%= job.title %></a><br>
    <a><%= job.description %></a><br>
    <a><%= job.area %></a><br><br>
      <% end %>

</div>


  <a href="job"> 案件ページへ</a><br>
