<br><!-- このviewで何が取れているのかの確認 -->
<!-- <%= @job.map{|a| a.title} if @job.present? %> -->

<head>
<style type="text/css">

h1 {
margin: 0px 20px;
padding: 0;
}

section,p {
margin: 0px 60px;
padding: 0;
}

form {
margin: 0px 60px;
padding: 0;
}

</style>
</head>

<div class=content data-job-source="false">
<h1 classheading1-pt1>検索ページ</h1>


  <p>都道府県を選択してください</p>

  <form  action="search" method="get">
    <input name="authenticity_token" type="hidden" value="1234" />
    <select name="area" name="name" >
      <% Search.all.each do |area| %>
        <option value="<%= area.area_name %>"><%= area.area_name %><br></option>
      <% end %>
    </select>
    <button type="search" >検索</buton>
  </form>
</div>

        <br><p>▼<%= @job.count %>件 表示しています。</p>

<section class="box-pt1 mb_20">
        <div class="heading2-pt2 heading2-pt2--border-bt">
          <h2>案件一覧</h2>

        </div>
        <% @job.each do |job| %>
        <dl class="list-dl-pt3 list-dl-pt3--dt9em txt_size_12">
          <h4><a href="/job?id=<%= job.id %>"><%= job.title %></a></h4>
          <dt>詳細</dt>
            <dd>
              <ul class="ul-inline ul-inline--cut">
                <li>
                    <%= job.description %>
                </li>
              </ul>
            </dd>
          <dt>エリア</dt>
            <dd>
              <ul class="ul-inline ul-inline--cut">
                <li>
                    <a href="/search?area=<%= job.area %>"><%= job.area %></a>
                </li>
            </ul>
          </dd>
        </dl>
          <br>
        <% end %>

      </section>
