    <h1>
      rejob_管理画面
    </h1>

    <h2>
      求人案件一覧
    </h2>

  </select>
  <button type="search" >検索</buton>
  </form>
  <br>

    <a href="/admin_new">
      <button type="new">新規作成</button>
    </a><br><br>


    <% @job.each do |job| %>
      <a href="/job?id=<%= job.id %>"><%= job.title %></a>
            <a href="/admin_edit?id=<%= job.id %>">
          <button type="edit" >編集</button>
            </a><br>
      <a><%= job.description %> </a>
      応募数：<%= Job.find_by(id: job.id).entry.count %><br>
      <a>エリア:<%= job.area %></a><br><br>

    <% end %>




<h1>Admin#do</h1>
<p>Find me in app/views/admin/do.html.erb</p>
