
    <h1>
      rejob_管理画面
    </h1>

    <h2 class="heading1-pt1">
      求人案件一覧
    </h2>


  <br>

    <a href="/admin_new">
      <button type="new">新規作成</button>
    </a><br><br>


    <% @job.each do |job| %>
      <a href="/job?id=<%= job.id %>"><%= job.title %></a>
            <a href="/admin_edit?id=<%= job.id %>">
          <button type="view" ><a href="/job?id=<%= job.id %>">view</a></button>
          <button type="edit" ><a href="/admin_edit?id=<%= job.id %>">編集</button>
            </a><br>
      <%= job.description %>
      応募数：<%= Job.find_by(id: job.id).entries.count %><br>
      エリア:<%= job.area %><br><br>

    <% end %>



<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
