<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <title>REJOB</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= params if params.present? %>
<%= "user_id=" +  session[:user_id].to_s if session[:user_id].present? %>


<%= yield %>

</body>
</html>
