<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <title>REJOB</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header-top">
    <%= params if params.present? %>
    <%= "user_id=" +  session[:user_id].to_s if session[:user_id].present? %>
      <div class="container">
        <ul class="header-top__navi">
          <li><a href="/top">TOPページ</a></li>
          <li><a href="/login">マイページ</a></li>
          <li><a href="/sighnup" rel="nofollow">無料会員登録</a></li>
        </ul>
      </div>
    </div>

<br>
  <div class="header-middle container clear">
<a class="header-middle__logo" href="/">
<img hreh= "/top" class="logo_header" src="https://relax-job.com/images/user_frontend/pc/logo_header.png" alt="Logo header" ></a>

</div>

<div class="content mt_30">

<%= yield %>

</div>

</body>
</html>
